/* CSS declarations go here */

.containter-fluid {

	margin-left: 15px;
}

#GameTable3 th, #GameTable3 td, #GameTable2 th, #GameTable2 td, #GameTable th, #GameTable td {

	text-align: center;
}

#rightbox {
	border: solid 10px black;
	margin-top: 30px;
	width: 250px;
	margin-right: 10px;
	margin-left: 10px;

}

.uploadSave {

	
}

#GameTable{

	margin-left: 5px;

	table-layout: auto;
}

h3 {
	text-align: center;
}

h2 {

	color: blue;
	font-weight: bold;

}

#collapseDiv,#collapseDivTues,#collapseDivWed,#collapseDivThur,#collapseDivFri,#collapseDivSat,#collapseDivSun {

	border: dashed grey 2px;
	margin-bottom: 50px;


}

#collapseDiv2,#collapseDiv2Tues,#collapseDiv2Wed,#collapseDiv2Thur,#collapseDiv2Fri,#collapseDiv2Sat,#collapseDiv2Sun  {

	border: dashed grey 2px;
	margin-bottom: 50px;

}

#collapseDiv3,#collapseDiv3Tues,#collapseDiv3Wed,#collapseDiv3Thur,#collapseDiv3Fri,#collapseDiv3Sat,#collapseDiv3Sun  {

	border: dashed grey 2px;
	margin-bottom: 50px;

}

.nav-tabs > li.active > a {
	font-weight: bold;
	background-color: #e5f2ff;
	font-size: 15px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}